<html>

<style>
*{margin:0;padding:0;}
body{
	background-image: url(../images/body-bg.gif); 
	
}
header{
	width: 100%;
	height: 209px;
	background-image: url(../images/fondo.png);
}
main{
    width: 100%;
    height: 500px;
    background-color: transparent;
}


#divUno{
	width:18%;
	height: 100%;
	float: left;
	background-color: transparent; ; 
}
#divLogo{
	width: 25%;
	height: 65%;
	float: left;
	background-color:transparent; 
}

#divDos{
	width: 18%;
	height: 28%;
	float: right;
	background-color: transparent;
}
#divCabeza{
	width: 100%;
	height: 10px;
	float: left;
	background-color: transparent;
}
#divTres{

	width: 18%;
	height: 65%;
	float: right;
	background-color: transparent;
}
#divCuatro{

	width: 39%;
	height: 65%;
	float: left;
	background-color: transparent;
}
#divMain{
width: 64%;
height: 100%;
background-image: url(../images/fondoQuienes.jpg);
float: left;
border-radius: 10px 10px;
}
#divTexto1{
	margin: 12px  12px ;
	margin-right: 12px;
	width: 97%;
	height: 52%;
	float: left;
	border-radius: 5px 5px;
	background-image: url(../images/fondoQuienes2.jpg);
}
#divTexto1:hover{
background: rgba(0,0,0,0.4);
}
#divTexto2{
	margin-top: 2px ;
	margin-left: 12px;
	width:60%;
	height: 40%;
	float: left;
	border-radius: 5px 5px;
	background-image: url(../images/fondoQuienes2.jpg);
}
#divTexto2:hover{
	background: rgba(0,0,0,0.4);
}
#listaDerecha{
	float: right;
	width: 50%;
	height: 50%;
	background-color: transparent;
	border-radius: 5px 5px;
}
#listaDerecha2{
	float: right;
	width: 50%;
	height: 50%;
	background-color: transparent;
	border-radius: 5px 5px;
}
#listaIzq{
	float: left;
	width: 50%;
	height: 50%;
	background-color: transparent;
	border-radius: 5px 5px;
}
#listaIzq2{
	float: left;
	width: 50%;
	height: 50%;
	background-color:transparent;
	border-radius: 5px 5px;
}
#li1{
	text-align: center; 
	font-size:1.29vw; 
	 font-weight: bold; 
	 font-style: italic;
}
#Quienes{
padding-left: 10px;
 font-size: 30px; 
 color: #E5E3E3 ;
}
#textoQuienes{
	padding-left: 10px;
	 font-size: 17px; 
	 color: #E5E3E3 ;
}
#listaUl{
padding-left: 40px;
 font-size: 16px; 
 color: #E5E3E3 ; 
 font-weight: bold;
}




.contenedorMenu{
		width: 64%;
	height: 25%;
	float: left;
background-image: url(../images/descarga.png);
border-radius: 8px 8px;
}
#btn_menu{
	display: none;
}
.contenedorMenu label{
	display: none;
	width: 40px;
	height: 40px;
	padding: 7px;
	border-right: 1px solid black;
	
}

.contenedorMenu label:hover{
	cursor: pointer;
	background:rgba(0,0,0,0.4);
border-radius: 3px 3px;
}
.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
}
.menu li{
	border-right: 1px solid black;
	text-align: center;
	flex-grow: 1;
}

.menu li:hover{
background:rgba(0,0,0,0.4);
border-radius: 3px 3px;
}
.menu li a{
	margin: 0;
	margin-right: black;
	display: block;
	padding: 17px 10px;
	color: black;

	text-decoration: none;
}

@media (max-width: 790px){
	#listaIzq{
	
	float: left;
	width: 45%;
	height: 50%;
	background-color: transparent;
	border-radius: 5px 5px;
}
	#listaUl{
		margin-left: -10%;
		font-size:7px;
	}
	#divTexto2{
		width: 90%;
		height: 25%;

	}
	#divTexto1{
		height: 45%;
		width: 90%;
		box-sizing: border-box;
		padding-right: 5px; 
	}
	#Quienes{
		font-size: 20px;
	}
	#textoQuienes{
		font-size:8px;
	}

		#divLogo{
	width: 63%;
	height: 65%;
	float: left;
	background-color:transparent; 
}
#divCuatro{
	width: 1%;
}

	#li1{
	text-align: center; 
	font-size:20px; 
	 font-weight: bold; 
	 font-style: italic;
}
	.contenedorMenu label {
		display: block;
	}
	.menu{
		font-size: 10vw;
		position: absolute;
		z-index: 1;
		background-image: url(../images/descarga.png);
		width: 62.5%;
		margin-left: -100%;
		transition: 0.5s;
	}
	.menu ul{
     font-size: 10vw;
		flex-direction: column;
		 
	}
	.menu li{
      font-size: 10vw;
     border-top: 1px solid black;
	}

	#btn_menu:checked ~ .menu{
		margin:0;
	}
}


</style>

</html>

